!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Title
    %meta{:content => 'width=device-width, initial-scale=1', :name => 'viewport'}
    %link{:href => "css/app.css", :rel => "stylesheet"}
    /[if IE]
      %script{:src => 'http://html5shim.googlecode.com/svn/trunk/html5.js'}>
  %body
    %h1 This shit WORKED??!
  %script{:src => 'js/scripts.js'}
